<section>
<label>enter your name:</label><input>
</section>
<p>select your gender:</p>

<div>
  <input type="radio" id="male" name="gender" value="male"
         checked>
  <label for="male">male</label>
</div>

<div>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">female</label>
</div>

<p>select your skills:</p>
<div>
  <input type="checkbox" id="html" name="skills" value="html">
  <label for="html">html</label>
</div>
<div>
<input type="checkbox" id="css" name="css"
       checked>
<label for="css">css</label>
</div>

<div>
<input type="checkbox" id="javascript" name="javascript">
<label for="javascript">javascript</label>
</div>
<div>
<input type="checkbox" id="python" name="python"
       checked>
<label for="python">python</label>
</div>

<div>
<input type="checkbox" id="angular" name="angular">
<label for="angular">angular</label>
</div>
<p>chose your picture:
<label for="myfile"></label>
<input type="file" id="myfile">

<div style="backround-color:green;">
<input type="button" value="click me" style= "color: red;  padding-top:25px; padding-bottom:50px; padding-right:75px; padding-left:100px; border-color:red; border-radius:20px; border-width:50px;margin:65px;">
</div>
